/.idea/
/nggorpc-client/node_modules/
/.output.txt
*/node_modules/
**/node_modules/
node_modules/
/e2e-tests/playwright-report/
/e2e-tests/test-results
/e2e-tests/test-results.log
/wsgrpc/coverage
/wsgrpc/coverage.out
/example/server/server.exe
